body{
	//background: url("http://images.wikia.com/assassinscreed/images/8/8b/Old_paper.jpg");
	background: -webkit-linear-gradient(0, rgb(188, 188, 198),#ffffff 100%);
}
.left{
	position:absolute;
	left:0px;
	top:0px;
	width:10%;
	padding:10px;
	height:100%;
	//background-color: lightblue;
	opacity: 0.9;
}
#zoomin{
	margin-top:10px;
}
#zoomout{
	margin-top:-20px;
	width: 34px;
}
#settings{
	width:34px;
	padding-left: 9px;
	padding-top: 8px;
	height: 35px;
}

.menuBtn{
	height:20px;
}
#magicBtn{
	position:fixed;
	top:30px;
	right:50px;
	width:45px;
	height:45px;
	background-color: dimGray;
	color: white;
	text-align: center;
	font-size: 30px;
}
#magicBtn:hover{
	background-color: black;
}

.shelf{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:50px;
	//background-color: dimGray;
	background: -webkit-linear-gradient(top, rgb(55, 55, 55),#000000 100%);
	border-top: 1px solid dimGray;
	opacity:0.7;
	color:white;
	/*overflow-x: hidden;
	overflow-y: hidden;*/
	-webkit-transition: all 0.12s ease-in-out;
	transition: transform 0.12s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.shelf:hover{
	box-shadow: 0px 0px 8px 3px dimGray;
	//background-color: lightgrey;
	background: -webkit-linear-gradient(top, rgb(55, 55, 55),#000000 100%);
	height:25%;
	bottom:0px;
}
#shelfList{
	margin-left: 40px;
	margin-right: 40px;
	width:100%;
	position:absolute;
}
.shelfItem{
	display:inline;
	list-style-type: none;
	padding-right:10%;
	padding-left:20px;
	padding-bottom: 10%;
	border-right: 1px solid gray;
	height:25%;
	position:relative;
	//background-color:gray;
}
.dot{
	position: relative;
	width: 60px; height: 60px; 
	background-color: rgb(148, 188, 58); 
	border-radius: 30px; 
}
.box{
	position: relative;
	width: 60px; height: 60px; 
	background-color: rgb(148, 188, 58); 
}
.shelfLeft{
	position:fixed;
	left:0px;
	top: auto;
	text-align: center;
	padding: 70px 20px;
	margin-top: -10px;
	//border-radius:5px;
	color:gainsboro;
}
.shelfRight{
	position:fixed;
	right:0px;
	top: auto;
	text-align: center;
	padding: 70px 20px;
	margin-top: -10px;
	//border-radius:5px;
	color:gainsboro;
}
.shelfLeft:hover, .shelfRight:hover{
	//background-color: black;
	color:white;
}


#detail{
	position:absolute;
	top:15%;
	left:10%;
	width:90%;
	display:none;
}
dt{
	width:auto !important;
}
#objectDetail{
	/*position: absolute;*/
	/*left: -1px;
	top: 500px;*/
	left:10%;
	width: 200px;
	height: 200px;
	background-color: rgb(89, 16, 77);
	text-align: center;
	color: white; text-shadow: black 0.1em 0.1em 0.2em;
	border-radius: 150px;
}
#objectText{
	display:inline-block;
	vertical-align:middle;
}
#detailPane{
	position:absolute;
	left:50%;
	top:20px;
	width:49%;
}

.code{
	position:absolute;
	left:9%;
	top:20px;
	width:30%;
	height:50%;
	border: 5px solid lightgrey;
	z-index:2;
}
#view{
	width: 100%;
	height: 97%;
	top: 0px;
	position: absolute;
	//left: 8%;
	z-index:-1;
}
.link {
  stroke: #aaa;
  stroke-width: 1px;
}
.node {
  fill: #000;
  stroke-width: 1.5px;
  -webkit-transition: all .5s ease-in-out;
	transition: transform .5s;
}
.selected{
	stroke: lightpink;
	stroke-width: 200px;
	//background: -webkit-radial-gradient(circle 16px at 20px 50%, black 0%, black 14px, rgba(0,0,0,0.3) 18px, rgba(0,0,0,0) 19px);
}

.overlay {
  fill: none;
  pointer-events: all;
}


.cover{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgb(37, 37, 37);
	opacity:0.6;
	display:none;
	z-index: 1;
}

#setList{
	position:absolute;
	top:20px;
	left:125px;
	display:none;
	z-index:2;
}

.set{
	color:rgb(220,220,220);
	font-weight: bold;
	line-height: 40px;
	font-size: 31.5px;
	margin-right:30px;
	padding:5px 10px;
	//display:inline;
	list-style-type: none;
}
.set:hover{
	color:lightskyblue;
	background-color: black;
}
.chosen{
	background-color: black;
}
.blur{
	//-webkit-filter: blur(5px);
}





circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}


